@font-face {
    font-family: 'JackeyFont';
    src: url("./main.ttf");
}
.Text{
    -fx-font-family : 'JackeyFont';
}
.button {
    -fx-font-family: 'JackeyFont';
}
.label {
    -fx-font-family: 'JackeyFont';
}
#DarkButton{
    -fx-background-color : #d5e2cb;
    -fx-text-fill: #000000;
}
#LightButton{
    -fx-background-color : #4f1f35;
    -fx-text-fill : #ffffff;
}
#DarkText{
    -fx-fill : #b9e4b5;
}
#LightText{
    -fx-fill  : #4f1f35;
}
#DarkLabel{
   -fx-text-fill  : #b9e4b5;
}
#LightLabel{
   -fx-text-fill : #161a1d;
}
#DarkPane{
    -fx-background-color:  #292929
}
#LightPane{
    -fx-background-color: #ffffff;
}
#DarkBattle{
    -fx-background-color: #333f48

}
#LightBattle{

    -fx-background-color : #d9d9d9;
}
#DarkShow{
    -fx-background-color: #79827F
}
#LightShow{
    -fx-background-color: #a5b452
}
#Snake2{
    -fx-font-family: 'JackeyFont';

    -fx-text-fill : #ffb549;
}
#Player1{
    -fx-font-family: 'JackeyFont';
    -fx-text-fill : #bdffeb;
}
#Snake1{
    -fx-font-family: 'JackeyFont';
    -fx-text-fill : #a1ffe3;
}
#Player2{
    -fx-font-family: 'JackeyFont';
    -fx-text-fill : #eb8a02;
}

#DarkNormal{
    -fx-font-family: 'JackeyFont';
     -fx-text-fill :#DDDDDD;
}
#LightNormal{
    -fx-font-family: 'JackeyFont';
     -fx-text-fill : #161a1d;
}
#Alert{
    -fx-font-family: 'JackeyFont';
     -fx-text-fill :#AA0000;
}
#Ice{
    -fx-text-fill : #62c0ff;
}
#Fire{
    -fx-text-fill : #ff9700;
}
#Star{
    -fx-text-fill : #ffee00;
}
.ImageStatus{
    -fx-opacity : 0.1;
}
